// Styles for both the Editor and the front end.

// Screen reader only text
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.wp-block-ollie-mega-menu {
    .wp-block-ollie-mega-menu__toggle {
        background-color: initial;
        border: none;
        color: currentColor;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        line-height: inherit;
        padding: 0;
        text-align: left;
        text-transform: inherit;

        .wp-block-ollie-mega-menu__toggle-icon {
            align-self: center;
            display: inline-block;
            font-size: inherit;
            height: 0.6em;
            line-height: 0;	
            margin-left: 0.25em;
            padding: 0;
            width: 0.8em;

            svg {
                stroke: currentColor;
                display: inline-block;
                height: inherit;
                margin-top: 0.075em;
                width: inherit;
                transition: all .125s linear;
            }
        }

        &[aria-expanded=true] {
            .wp-block-ollie-mega-menu__toggle-icon {
                svg {
                    transform: rotate(180deg);
                }
            }

            &~.wp-block-ollie-mega-menu__menu-container {
                opacity: 1;
                overflow: visible;
                visibility: visible;
                // Opening transition: immediate visibility, fast fade-in
                // This runs faster than the closing delay so new menu is visible first
                transition: opacity 0.15s ease-in, visibility 0s linear 0s;
            }
        }
    }  
}

.wp-block-navigation:has(.wp-block-ollie-mega-menu) .wp-block-navigation__submenu-icon {
	svg {
		transition: all .125s linear;
	}
}
